.full-screen {
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#send-btn {
    width: 8vw;
    transition: transform 0.2s ease-in-out;  /* Smooth transition for scale effect */
}

#send-btn:active {
    transform: scale(0.95);   /* Slightly shrink the button when pressed */
}